.welcome {
  font-size: 48px;
  margin-top: 140px;
  margin-bottom: 60px;
}

.btn {
  font-size: 18px;
  padding: 12px;
  width: 210px;
  margin-bottom: 10px;
  background-color: #2b2828;
}

.btn:hover {
  background-color: #4e4e4e;
}
