{% extends "base.html" %}

{% block cssblock %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="/static/css/permalink.css" rel="stylesheet"/>
    <link href="/static/css/comments.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
  <div class="container">
    <div>
      <h3 class="error-message">{{error}}</h3>
    </div>
    {{post.render_post() | safe}}
    {% if post.author == user_id %}
    <div class="post-edit-buttons">
      <a data-toggle="modal" data-target="#{{post._id}}">Edit</a>
      |
      <a href="/rmpost/{{post._id}}">Delete</a>
    </div>
    {% endif %}
    <div class="comment-container">
      <h3>Comments</h3>
      <div class="comment-parent">
        {% for comment in comments %}
          <div class="comment-item">
            {% if comment.commenter_id == user_id %}
              <div class="edit-buttons">
                <a data-toggle="modal" data-target="#{{comment.key()}}">Edit</a>
                |
                <a href="/rmcomment/{{post._id}}?key={{comment.key()}}">Delete</a>
              </div>
              <div class="modal fade" id="{{comment.key()}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <article class="modal-content">
                        <div class="modal-header text-center">
                          <h3 class="modal-title">Edit Comment</h3>
                        </div>
                        <form method="post">
                          <div class="modal-body">
                            <input type="hidden" name="comment-key" value="{{comment.key()}}" />
                            <textarea class="comment-text" name="content">{{comment.content}}</textarea>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            <input class="btn btn-success" name="edit-comment" type="submit" />
                          </div>
                        </form>
                    </article>
                </div>
              </div>
            {% endif %}

            <p class="comment-author">
              <strong>{{comment.commenter_name}}</strong>
            </p>
            <p class="comment-date">
              {{comment.created.strftime("%b %d, %Y")}}
            </p>

            <p class="comment-content">
              {{comment.content}}
            </p>
            <hr />
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="modal fade" id="comment-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <article class="modal-content">
            <div class="modal-header text-center">
              <h3 class="modal-title">Comment</h3>
            </div>
            <form method="post">
              <div class="modal-body">
                <textarea class="comment-text" name="content"></textarea>
                <div class="error">
                  {{error}}
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <input class="btn btn-success" name="new-comment" type="submit" />
              </div>
            </form>
        </article>
    </div>
  </div>


  {% if commenting == True %}
    <script>$('#comment-modal').modal('show')</script>
  {% endif %}
{% endblock %}
